<div>
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>Aggregate data</mat-card-title>
      <button mat-button (click)="reload()">Reload
        <i class="material-icons">
          loop
        </i>
      </button>

    </mat-card-title-group>
  </mat-card>
  <table mat-table [dataSource]="aggregates" class="mat-elevation-z8">
    <ng-container matColumnDef="countryDto">
      <th mat-header-cell *matHeaderCellDef> Country </th>
      <td mat-cell *matCellDef="let element"> {{element.countryDto.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let element"> {{element.aggregateValue}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
